body{
    font-family: "time new roman",serif;
    font-size: 18px;
    font-style: normal;
    line-height: 1.5em;
    letter-spacing: normal;
    background-color:white;
}
header{
    background-color:;
    border:1px;
    border-style: inset;
    border-color:white;
    margin-bottom: 12px;
    background-image: url("image/pm.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-size: 100%;
}
.acc {
    width:60px;
    clear: right;
    margin-top: 12px;
}
.acc:visited {
    color: white;
}
.second {
    background-color: blue;
    border:1px;
    width:auto;
    height:120px;
    margin-bottom: 20px;
}
.formulaire {
    color: black;
    float: right;

}
.etranger li {
    display: block;
    float:right;
    font-size: 20px;
}
.vue {
    width: 100%;
    height: 450px;
    margin-bottom: 80px;
}
.etranger li {
    display: inline-block;
    max-width: auto;
}
.etranger a {
    font-family: "time new roman", serif;
    text-decoration: none; /*pour désouligner les liens*/;
    border-bottom: 5px solid dodgerblue;
    border-left: 3px dodgerblue;
    margin-right: 18px;
    padding: 7px 7px 7px 7px;
    padding-top: 10px;
    border-radius: 2px;
    background-color: ;
    color:white;
    height: 11px;
}
.vue {
    width: 100%;
    height: 500px;
    margin-bottom: 80px;
}
h3 {
    text-align: center;
    margin-top: 14px;
    color: blue;
}
h1{
    text-align: center;
    color: white;
    font-size: 40px;
}
.cinq {
    text-align: right;
    margin-top:19px;
    padding-top:auto;
    color: blue;

}
.logo{


}
#tous a {
    transform:scale(0.75);

}
#tous a:hover, #tous a:focus {
    transform:scale(2.1);
}
#tous {
    width:100%;
    height: 700px;
    box-shadow: 1px 1px 1px;
    margin:;
    border:solid;
    border-radius:5px;
    background: burlywood;
    text-align:center;
    background-image: url("image/so.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#tous a img {
    height:190px;
    width:250px;
    border:none;
    vertical-align:top;
}
#tous a{
    text-decoration: none;
    border-radius:15px;
    display:inline-block;
    transform:scale(0.75);
    overflow:hidden;
    box-shadow: 0 0 15px gray;
    border:solid white;
    transition:1s;
    z-index:1;
}
#tous a:hover,#galerie-menu a:focus{
    transform:scale(2.07);
    transform-origin:top center;
    z-index:5;
    background:white;
    transition:1s;
}
#tous a:before{
    content:attr(title);
    position:absolute;
    color:black;
    font-family: "time new roman", serif;
    font-size: 20px;
    text-align: center;
    bottom:0;
    box-shadow:0 0 3px white;
    display:block;
    width:100%;
    height: 30%;
    background:white;
}



#bas{
    text-decoration: none;
    position: relative;
    left:0;
    bottom:0;
    width:100%;
    background-color:blue;
    color: white;
    text-align:center;
    float: bottom;
}

.num{
    width: 3.8%;
    height: 57px;
    padding: 12px 12px 12px;
}
}
.fc{
    width: 3.5%;
    height: 4;
    float right;
}
}
.tw{
    width: 3.5%;
    padding: 12px 12px 12px;
}
.youtube{
    width: 3.5%;
    padding: 12px 12px 12px;
}
.teleg{
    width: 3.5%;
    padding: 12px 12px 12px;
}
.insta{
    width: 3.5%;
    padding: 12px 12px 12px;
}
.wats{
    width: 3.5%;
    padding: 12px 12px 12px;
}
}
.google{
    width: 3.5%;
    padding: 18px 16px 10px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 50px;
    font-size: 20px;
    text-align: center;
}
#menue ul {
    margin:0;
    padding:0;
    line-height: 30px;
}
#menue li {
    list-style: none;
    float: left;
    position: relative;
    background-color: black;
}
#menue ul li a {
    color: white;
    text-decoration: none;
    width:300px;
    height: 31px;
    font-size: 19px;
    display: inline-table;
    text-align: center;
    border: 1px solid #000;
    text-shadow: 1px white;
    font-family: "time new roman", serif;
    top: 100%
left: 0px;
    z-index:4;
}
#menue ul ul {
    position: absolute;
    top: 31px;
    visibility: hidden;

}
#menue ul li:hover ul{
    visibility: visible;
}

#menue li:hover{
    background-color: gray;
}
#menue ul li ul a:hover{
    color: white;
    background-color: gray;
}
a:hover{
    background-color:gray;
    color:blue;
    font-style: normal;
    border-style:solid;
    border-color:black;
}
a:active
{
    background-color: tan;
}
a:focus{
    background-color: darkcyan;
}
li a.active{
    background-color: forestgreen;
    color: blue;
}
a:visited {
    color: burlywood;
}
section{
    border: 1px solid black;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 25px 25px 25px;
    text-align: center;
}
.centre{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}