body{

    font-family: cursive;
    font-size: 25px;
    font-style: normal;
    text-transform:;
    line-height: 1.5em;
    letter-spacing: normal;
    background-color:;
}
.menue_haut{
    width: 100%;
    background-color: #4CAF50;
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
}
.menue ul{
    list-style-type: none;
}
.menue_haut li{
    display: inline-block;
    font-size: 14px;
    padding: 12px;
    border: 1px 1px 1px 1px;
}
.menue_haut a{
    text-decoration: none;
    padding:15px;
    color: white;
}
.menue ul li a{
    border: 1px solid gray;
}
.menue_haut:hover{
    color: cyan;
    border:  1px;
}
.nom_ecole{
width: 100%;
    height: 350px;
    background-image: url("image/pm.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-size: 100%;
   opacity : 0.9;
}
.h1{
    color: #2196F3;
}
.deuxieme_image{
    width: 100%;
    height: 700px;
    display: block;
    margin-left: auto;
    margin-top: auto;
    padding: 25px 25px 25px 25px;
}
.logo{
    margin-right:30px;
    background-position: 30px 80px 80px 0px;
}
section{
    width: 60%;
    text-align: justify;
    font-size: 25px;
    font-family: "time new roman", serif;
    box-shadow:7px 4px 4px 4px;
    padding: 12px;
    display: block;
    margin: auto;
    border: 1px solid;
    border-color: #555555;
    box
    margin-bottom: 150px;
}
.nav_droite{
    width: 20%;
    display: inline-block;
    vertical-align:middle;
    font-size: 1.25rem;
    float: right;
}
.nav_droite a {
    background-color:#4CAF50;
color: white;
    display: block;
    padding: 12px 12px 12px 12px;
    text-decoration: none;

}
.nav_frame{
    border: 1px solid gray;
    margin: 80px;
    height: 20%;
}
.bloc_partenaire{
    display: block;
    background-color: #4CAF50;
    margin-top: 30px;
    


}
.photos_partenaires{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
margin-bottom: 10%;
    text-align: center;
}
.class{
    color: white;
}
.acc:visited {
    color: white;
}
h3 {
    text-align: center;
    margin-top: 14px;
    color: black;
}
.nom{
    color: black;
    font-size: 3em;
}
h1{
    text-align: center;
    color:;
}
.cinq {
    text-align: right;
    margin-top:19px;
    padding-top:auto;
}
.logo{
}
#tous a {
    transform:scale(0.75);

}
#tous a:hover, #tous a:focus {
    transform:scale(2.1);
}
#tous {                                        /* pour la galerie photos presentant un zoom apres depot de la souris*/
    width:100%;
    height: 700px;
    box-shadow: 1px 1px 1px;

    border:solid;
    border-radius:5px;
    background: burlywood;
    text-align:center;
    background-image: url("image/so.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 300px;
}
#tous a img {
    height:190px;
    width:250px;
    border:none;
    vertical-align:top;
}
#tous a{
    text-decoration: none;
    border-radius:15px;
    display:inline-block;
    transform:scale(0.75);
    overflow:hidden;
    box-shadow: 0 0 15px gray;
    border:solid white;
    transition:1s;
    z-index:1;
}
#tous a:hover,#galerie-menu a:focus{
    transform:scale(2.07);
    transform-origin:top center;
    z-index:5;
    background:white;
    transition:1s;
}
#tous a:before{
    content:attr(title);
    position:absolute;
    color:black;
    font-family: "time new roman", serif;
    font-size: 20px;
    text-align: center;
    bottom:0;
    box-shadow:0 0 3px white;
    display:block;
    width:100%;
    height: 30%;
    background:white;
}



#bas{ /* pour le bloc de footer*/
    text-decoration: none;
    position: relative;
    left:0;
    bottom:0;
    width:100%;
    background-color: #4CAF50;
    color: white;
    text-align:center;
}

.num{                                                 /* pour les photos du bloc de footer*/
    width: 4.8%;
    height: 57px;
    padding: 12px 12px 12px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color:aqua;
    padding: 50px;
    font-size: 20px;
    text-align: center;
}
#menue{
    width: 90%;
    margin: 0;
    list-style: none;
    font-family: cursive;
    color: white;
}
#menue a{
    color: white;
}
#menue ul {                                        /* pour le menue déroulant du haut*/
    margin:0;
    padding:0;
    line-height: 400%;
    color: white;
}
#menue li {
    list-style: none;
    float: left;
    position: relative;
    background-color: forestgreen;
    color: white;
}
#menue ul li a {
    color: white;
    text-decoration: none;
    width:300px;
    height: 31px;
    font-size: 25px;
    display: inline-table;
    text-align: center;
    border:;
    text-shadow:;
    font-family: "time new roman", serif;

}
#menue ul ul {
    position: absolute;
    top: 65px;
    visibility: hidden;
color: white;
}
#menue ul li:hover ul{
    visibility: visible;
}
#menue li:hover{
    background-color: mediumvioletred;
}
#menue ul li ul a:hover{
    color: white;
    background-color: blueviolet;
}
#menue a:hover{
    background-color:gray;
    color:blue;
    font-style: normal;
    border-style:solid;
    border-color:gray;
}
#menue a:active
{
    background-color: tan;
}
#menue a:focus{
    background-color: darkcyan;
}
#menue li a.active{
    background-color: forestgreen;
    color: blue;
}
#menue a:visited {
    color: burlywood;
}
.p{
    width: 350px;
    border: 1px solid black;
    text-align: justify;
    padding: 12px;
    margin-bottom: 20px;
    color: white;
}
.local{
    color: white;
}
.iug{
    width: 100px;
}
.ju{
    width: 200px;
}
.cti{
    width: 260px;
    .cam{
    width: 200px;
}
}
#photos{
    border: 2px solid orange;
    border-radius: 150px 150px 7px 7px;
    width: 60%;
    display: inline-block;
    vertical-align: top;
    padding: 18px;
    margin-bottom:70px;
}
.nos_photos{
    width: 35%;
}
#addresse{
    border: 2px solid orangered;
    border-radius: 7px 7px 150px 150px;
    width: 62%;
    display: inline-block;
    vertical-align: top;

}
body {margin:0;}

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}
body {margin:0;}

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 10%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
}
.liens{
    text-decoration: none;
    text-align: ;
    opacity: 0.6;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.footer{
    font-family: cursive;
}